<!-- Download Section -->
<section class="content-section text-center">
	<div id="skills" class="download-section">
		<div class="container">
		   <div class="col-lg-8 col-lg-offset-2">
		     <h2>Back-End</h2>
		     
		     <p>Ruby and JavaScript allow me do great work, and also tell 
		        me when they&#8217;re not the best tools for the job. My diverse 
		        background gives me the ability to pick up the tools I don&#8217;t 
		        yet know, quickly.
		     </p>
	         
	       </div>

		   <div class="talent hyphenate">
			 <h2>Front-End</h2>
			 
			 <p>A flawless back-end isn&#8217;t worth building if the user 
			 experience is frustrating and inconsistent. Modern tools and 
			 methodology enable me put the user first as a rule, not an 
			 exception.
			 </p>
		    
		   </div>

		   <div class="talent hyphenate">
			 <h2>Communication</h2>
			 
			 <p>Writing and speaking clearly about complex and subtle ideas is 
			 essential to being an effective team member, as is recognizing my 
			 teammates&#8217; strengths and opportunities to share my own 
			 skills and knowledge.
			 </p>
		   
		   </div>
		</div>
    </div>
</section>